<div class="row">
    <div class= "col-md-12 col-lg-12">
        <div class="card scroll" style="overflow-y: auto;min-height: 300px;" id="chatCard">
            <div class="card-body">
                <ul class="list-group list-group-flush" id="chatLog">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class ="row">
    <div id="player-select-form" class='col-md-3 col-lg-3'>
        <select id="playerList" class="form-control" aria-label = "Default select example" style="font-size: x-small;">
            <option selected style="font-size:smaller;">Global</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-6 ">
        <input id="chatInput" autocomplete="off" class="form-control search" onkeypress="search(event)" />
    </div>
    <div class = "col-md-3 col-lg-3">
        <button class="btn btn-primary btn-block" id="sendChatButton">Send</button>
    </div>
</div>
<div class="row">
    <div class='p-1'></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-row justify-content-start">
            <div class='p-1'>
                <button class="btn" id='d4Dice' value='d4' class="dice-button"><img src='images/d4_small.svg'></button>
            </div>
            <div class='p-1'>
                <button class="btn" id='d6Dice' value='d6'><img src='images/d6_small.svg'></button>
            </div>
            <div class="p-1">
                <button class="btn" id='d8Dice' value='d8'><img src='images/d8_small.svg'></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-row justify-content-start">
            <div class='p-1'>
                <button class="btn" id='d10Dice' value='d10'><img src='images/d10_small.svg'></button>
            </div>
            <div class='p-1'>
                <button  class="btn" id='d12Dice' value='d12'><img src='images/d12_small.svg'></button>
            </div>
            <div class='p-1'>
                <button class="btn" id='d20Dice' value='d20'><img src='images/d20_small.svg'></button>
            </div>
        </div>
    </div>
</div>
<h3>Adventure Toolbar</h3>
<div class="row">
    <button class='btn btn-secondary' id="adventure-Line"> Line</button>
    <div class='p-1'></div>
    <button class='btn btn-secondary' id="adventure-Pointer"> Pointer</button>
    <div class='p-1'></div>
    <button class='btn btn-secondary' id="adventure-Circle"> Circle</button>
    <div class='p-1'></div>
    <div id="adventure-line-color-form" class="col">
        <select id="adventureColorDropdownMenu" class="form-control" aria-label = "Default select example" style="font-size: smaller;">
            <option selected style="font-size:smaller;">Choose a Color</option>
            <option value="#DC2626" style="background-color: rgb(220, 38, 38); color: white;">Red</option>
            <option value="#34D399"  style="background-color: rgb(52, 211, 153); color: white;">Green</option>
            <option value="#2563EB" style="background-color: rgb(37, 99, 235); color: white;">Blue</option>
            <option value="#7C3AED" style="background-color: rgb(124, 58, 237); color: white;">Purple</option>
            <option value="#DB2777" style="background-color: rgb(219, 39, 119); color: white;">Pink</option>
            <option value="#F59E0B" style="background-color: rgb(245, 158, 11); color: white;">Yellow</option>
            <option value="#6366F1" style="background-color: rgb(99, 102, 241); color: white;">Indigo</option>
            <option value="#111827" style="background-color: rgb(17, 24, 39); color: white;">Black</option>
        </select>
    </div>
</div>

