<div class="row">
    <div class= "col-md-12 col-lg-12">
        <div class="card scroll" id="chatCard">
            <div class="card-body">
                <ul class="list-group list-group-flush" id="chatLog">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class ="row">
    <div id="player-select-form" class='col-md-3 col-lg-3'>
        <select id="playerList" class="form-control" aria-label = "Default select example" style="font-size: x-small;">
            <option selected style="font-size:smaller;">Global</option>
        </select>
    </div>
    <div class="col-md-6 col-lg-6 ">
        <input id="chatInput" autocomplete="off" class="form-control search" onkeypress="search(event)" />
    </div>
    <div class = "col-md-3 col-lg-3">
        <button class="btn btn-primary btn-block" id="sendChatButton">Send</button>
    </div>
</div>
<div class="row">
    <div class='p-1'></div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-row justify-content-start">
            <div class='p-1'>
                <button class="btn" id='d4Dice' value='d4' class="dice-button"><img src='images/d4_small.svg'></button>
            </div>
            <div class='p-1'>
                <button class="btn" id='d6Dice' value='d6'><img src='images/d6_small.svg'></button>
            </div>
            <div class="p-1">
                <button class="btn" id='d8Dice' value='d8'><img src='images/d8_small.svg'></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-row justify-content-start">
            <div class='p-1'>
                <button class="btn" id='d10Dice' value='d10'><img src='images/d10_small.svg'></button>
            </div>
            <div class='p-1'>
                <button  class="btn" id='d12Dice' value='d12'><img src='images/d12_small.svg'></button>
            </div>
            <div class='p-1'>
                <button class="btn" id='d20Dice' value='d20'><img src='images/d20_small.svg'></button>
            </div>
        </div>
    </div>
</div>

