<div class="row">
    <div class= "col-md-8">
        <div class="card scroll" id="chatCard">
            <div class="card-body">
                <ul class="list-group list-group-flush" id="chatLog">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class ="row">
    <input id="chatInput" autocomplete="off" /><button id="sendChatButton">Send</button>
    <div id="player-select-form" class="col">
        <select id="playerList" class="form-control" aria-label = "Default select example" style="font-size: smaller;">
            <option selected style="font-size:smaller;">Global</option>
        </select>
    </div>
</div>
