<div class="row">
    <div class= "col-md-8">
        <div class="card scroll" id="chatCard">
            <div class="card-body">
                <ul class="list-group list-group-flush" id="chatLog">

                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <form id="form" action="" onSubmit="return false;">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>
