<h3>Chat Toolbar</h3>

<div>
    <ul id="messages"></ul>
    <form id="form" action="" onSubmit="return false;">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
</div>
