<h3>Clear Layers</h3>

<div>
    <button id="clear-layer-button">Clear Layer</button>
    <select name="clear-layer" id="clear-layer">
        <option selected value="mapLayer">Map Layer</option>
        <option selected value="tokenLayer">Token Layer</option>
    </select>
</div>