<h3>Roll Dice</h3>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <div class='p-2'>
            <button id='d4Dice' value='d4'><img src='images/d4_small.svg'></button>
        </div>
        <div class='p-2'>
            <button id='d6Dice' value='d6'><img src='images/d6_small.svg'></button>
        </div>
        <div class="p-2">
            <button id='d8Dice' value='d8'><img src='images/d8_small.svg'></button>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class='p-2'>
            <button id='d10Dice' value='d10'><img src='images/d10_small.svg'></button>
        </div>
        <div class='p-2'>
            <button id='d12Dice' value='d12'><img src='images/d12_small.svg'></button>
        </div>
        <div class='p-2'>
            <button id='d20Dice' value='d20'><img src='images/d20_small.svg'></button>
        </div>
    </div>
</div>

<div class='d-flex flex-column'>
    <div class="p-2" id="roll-results"></div>
    <div class="p-2" id="turn-result"></div>
    <div class="p-2">
        <button id='clear-results'>Clear Results</button>
    </div>
</div>

</div>