<div class ="row">
    <input id="overlayImageInput" autocomplete="off"/><button id="overlayImageButton" value="overlayImageLayer">Overlay Image</button>
    <input id="backgroundImageInput" autocomplete="off"/><button id="backgroundImageButton" value="backgroundImageLayer">Background Image</button>

</div>