<div class="container">
    <h6> The color and width options are used for shapes and lines</h6>
    <div class="form-row" id="map-btn-toolbar">
        <div id="line-color-form" class="col">
            <select id="colorDropdownMenu" class="form-control" aria-label = "Default select example" style="font-size: smaller;">
                <option selected style="font-size:smaller;">Shape/Line Color</option>
                <option value="#DC2626" style="background-color: rgb(220, 38, 38); color: white;">Red</option>
                <option value="#34D399"  style="background-color: rgb(52, 211, 153); color: white;">Green</option>
                <option value="#2563EB" style="background-color: rgb(37, 99, 235); color: white;">Blue</option>
                <option value="#7C3AED" style="background-color: rgb(124, 58, 237); color: white;">Purple</option>
                <option value="#DB2777" style="background-color: rgb(219, 39, 119); color: white;">Pink</option>
                <option value="#F59E0B" style="background-color: rgb(245, 158, 11); color: white;">Yellow</option>
                <option value="#6366F1" style="background-color: rgb(99, 102, 241); color: white;">Indigo</option>
                <option value="#111827" style="background-color: rgb(17, 24, 39); color: white;">Black</option>
            </select>
        </div>
        <div id="width-color-form" class="col">
            <select id="widthDropdownMenu" class="form-control" aria-label = "Default select example" style="font-size: smaller;">
                <option selected>Shape/Line Width</option>
                <option value="5">Largest</option>
                <option value="4">Large</option>
                <option value="3">Medium</option>
                <option value="2">Small</option>
                <option value="1">Smallest</option>
            </select>
        </div>
</div>
<div class="p-1"></div>
<div>
    <h5> Line</h5>
    <div id='line-type-form' class='col'>
        <select id="lineDropdownMenu" class="form-control" aria-label = "Default select example" style="font-size: smaller;">
            <option selected>Line Type</option>
            <option value='draw'>Draw Line</option>
            <option value='brush'>Brush Line</option>
        </select>
    </div>
    <div class="p-1"></div>
    <div class="checkbox">
            <input id="lineDrawToggle" type="checkbox"data-toggle="toggle" data-on="Line Drawing On" data-off="Line Drawing Off" data-onstyle="success" data-offstyle="danger" onchange="toggleLine()">
    </div>
</div>
<div class="p-1"></div>

<div id = "shape-tab">
    <h5>Shape</h5>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group"> 
            <button class="btn btn-info p-1" id="create-rect-button">Rectangle</button>
        </div>
        <div class="btn-group mr-2" role="group"> 
            <button class="btn btn-info p-1" id="create-tri-button">Triangle</button>
        </div>
        <div class="btn-group mr-2" role="group"> 
           <button class="btn btn-info p-1" id="create-cir-button">Circle</button>
        </div>
    </div>
</div>
<div class="p-1"></div>
<div id = "opacity-tab">
    <h5> Opacity</h5>
    <button class="btn btn-dark" id="create-Opacity-button">Create Shadow</button>
</div>






