<h3>Token Toolbar</h3>
<div class="container">
    <ul style="margin: 20px 0px 22px; visibility: visible;" class="nav nav-tabs">
        <li class ="nav-item">
            <a class="nav-link active" href="#"> Humans </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Animals </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> Monsters</a>
        </li>
    </ul>
</div>
<button id="create-token-button">Create New Token</button>
<select name="Game Piece" id="token-type-button">
    <option selected value="goblin">goblin</option>
</select>
<button id="load-button">Load</button>
<button id="save-button">Save to server</button>

