
<div class="row">
     <div class="col-md-10">
        <button class="btn btn-light" id="show-File-Name">Save New Map</button>
        <button hidden class="btn btn-success" id= "post-DB">Save As</button>
        <input type="text" id="new-MapName" placeholder="Name of New Map" hidden>
        <button class="btn btn-light" id="get-Map-List"> Open</button>
        <select id="map-List" hidden></select>
        <button class="btn btn-success" id="load-Map" hidden>Load Map</button>
        <button class="btn btn-success" id="save-Cur-Map" hidden>Save Current Map</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-danger btn-block" id="clear-map-button">Clear Map</button>
    </div>
</div>