<h3>File Functionality</h3>
<button id="show-File-Name">Save New Map</button>
<button hidden id="post-DB">Save As</button>
<input type="text" id="new-MapName" placeholder="Name of New Map" hidden>
<button id="get-Map-List"> Open</button>
<select id="map-List" hidden></select>
<button id="load-Map" hidden>Load Map</button>
<button id="save-Cur-Map" hidden>Save Current Map</button>