<h3>File Functionality</h3>
<button id="post-DB">Save Current Map</button>
<button id="get-DB">Get Layer</button>
<button id="load-map">Load Map</button>
<input type="text" id="mapID" placeholder="File ID">