<h3>File Functionality</h3>
<button id="post-DB">Save New Map</button>
<input type="text" id="new-MapName" placeholder="Name">
<button id="get-Map-List"> Get Map List</button>
<select id="map-List"></select>
<button id="load-Map">Load Map</button>
<button id="save-Cur-Map">Save Current Map</button>