
<input type="text" id="username">Enter name here</input>
<div class= "form-check">
    <input class = 'form-check-input' name='roleChoice' id='dm' type='radio' value="dm" checked>
    <label class= "form-check-label" for='dm'>
        DM
    </label>
</div>
<div class= "form-check">
    <input class = 'form-check-input' name= 'roleChoice' id='pc' type='radio' value="pc">
    <label class= "form-check-label" for='pc'>
        PC
    </label>
</div>
<button id='onBoardSubmit'>Submit</button>

