<p class="text-lg">Prepare to {{title}}</p>
<div class='grid grid-cols-3 gap-4'>
    <div class="col-span-2">
        {{> konva-stage}}
    </div>
    <div class="...">
        {{> token-toolbar}}
        {{> map-toolbar}}
    </div>
</div>





