    <div class="row">
        <div class="col-md-3">
            {{> chat-toolbar}}
        </div>
        <div class="col-md-6">
            <h3>{{title}}</h3>
            {{> user-toolbar}}
            {{> konva-stage}}
            {{> experience-toolbar}}
        </div>
        <div class="col-md-3 col-lg-3">
            {{> token-toolbar}}
            {{> map-toolbar}}
            {{> clear-layers}}
        </div>
    </div>
    <div>
        {{> dice-toolbar}}
    <div hidden>
        {{> user-experience-toolbar}}
    </div>







