<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  </head>
  <body>
      <div class='container-fluid' id='bodyContainer'>
        {{{body}}}
      </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <!--<script src="/javascripts/script-1.js"></script> -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="/javascripts/onBoard.js"></script>
    <script src="/javascripts/LayerMovement.js"></script>
    <script src="/javascripts/setup.js"></script>
    <script src="/javascripts/mapLayer.js"></script>
    <script src="/javascripts/tokenLayer.js"></script>
    <script src="/javascripts/imageLayers.js"></script>
    <script src="/javascripts/dice.js"></script>
    <!--<script src="/javascripts/db.js"></script> -->
    <script src="/javascripts/adventure.js"></script>

    </body>
    <div>
      <h6 style="text-align:right">&copy; 2021 Bhavin Shah & KC Willard</h6>
      <h6 style="text-align:right">Dice images provided by Lorc(http://lorcblog.blogspot.com), Delapouite (https://delapouite.com), and Skoll</h6>
      <h6 style="text-align:right">Song provided by: www.tabletopaudio.com</h6>
    </div>
    </div>



</html>
