<h1>{{title}}</h1>
<p>Prepare to {{title}}</p>
    <button id="create-circle">Create circle top layer</button>
    <button id="create-square">Create square bottom layer</button>
    <button id="create-image"> Create image </button>
    <form id="grid-axis">
        <input id="grid-x-axis" type="number" value="grid-x-axis" placeholder="Enter the X axis for your map"/>
        <input id="grid-y-axis" type="number" value="grid-y-axis" placeholder="Enter the Y axis for your map"/>
        <input type="submit" value="Send"/>
    </form>
    <button id="save">Save</button>
    <button id="load">Load</button>
    <button id = "print-map">Print Map</button>
    <div id="container"></div>
