<h1>{{title}}</h1>
<p>Prepare to {{title}}</p>
    <button id="create-token-button">Create New Token</button>
    <select name="Game Piece" id="token-type-button">
        <option selected value="goblin">goblin</option>
    </select>
    <button id="load-button">Load</button>
    <div id="container"></div>
