<h1>{{title}}</h1>
<p>Prepare to {{title}}</p>
    <button id="create-circle">Create circle top layer</button>
    <button id="create-square">Create square bottom layer</button>
    <button id="create-image"> Create image </button>
    <button id="save">Save</button>
    <button id="load">Load</button>
    <div id="container"></div>
